/*初始样式*/
html{color:black;background:white;-webkit-text-size-adjust:none}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,blockquote,form,fieldset,legend,input,button,textarea,th,td{margin:0;padding:0}
fieldset,img,iframe{border:0 none}
iframe{display:block}
address,caption,cite,code,dfn,var,em,i,strong,th,td{font-style:normal;font-weight:normal}
li{list-style:none}
table{border-collapse:separate;border-spacing:0;}
caption,th{text-align:left}
caption,th,td{font-weight:normal}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
button::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=submit]::-moz-focus-inner,input[type=file]>input[type=button]::-moz-focus-inner{border:0 none;padding:0}
legend{color:black}
body{line-height:1.5;font-size:75%;color:#222;background:white;font-family:"Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif}
blockquote:before,blockquote:after,q:before,q:after{content:""}
blockquote,q{quotes:"" ""}
a img{border:0}
h1,h2,h3,h4,h5,h6{font-weight:bold}
h1{font-size:3em;line-height:1.5;}
h2{font-size:2em;line-height:1.25;}
h3{font-size:1.5em;line-height:1.25}
h4{font-size:1.2em;}
h5{font-size:1em;margin-bottom:1.5em}
h6{font-size:1em}
a{text-decoration:none;}
select{appearance:none;-moz-appearance:none;-webkit-appearance:none;}
select{appearance:none;-moz-appearance:none;-webkit-appearance:none;}


/*通用*/
::-webkit-scrollbar{width: 16px;height: 16px;background-color: #f5f5f5;}
::-webkit-scrollbar-track{border-top:1px solid #e1e1e1;border-bottom: 1px solid #e1e1e1;}
::-webkit-scrollbar-thumb{height: 20px;border-radius: 10px;background-color: #cad7ed;}
.fl, .flt{float: left !important;}
.fr, .frt{float: right !important;}.
.pr{position: relative;}
.pa{position: absolute;}
.clear{clear:both;}
.clearfix{display: block;}
.in_b{display: inline-block;}
.bg_f7{background-color: #f7f7f7}
.c-red{color: #f30;}
.text-ov80{max-width: 148px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/*输入框 选择框*/
input[type="text"]:disabled{background-color: #f7f7f7}
.col-select-opt-inner{display: inline-block;}
.model-select-box,.inputstyle,.x-input,.x-select{border: 1px solid #ccc;padding: 3px 5px;font-size: 12px;}
.model-select-box,.x-select{background: url(../image/icon05.png) no-repeat 100% 0 #fff;padding-right: 30px;min-width: 158px;}
.x-time{background: url(../image/time.png) no-repeat 100% 0;}
.x-checkbox-label{width: 16px;height: 16px;display: inline-block;background: url(../image/icon06.png);}
.x-checkbox{display: inline-block;width: 0;height: 0;display: none;}
input[type=checkbox]:checked + label{background: url(../image/icon07.png);}
.model-select-box{min-width: 122px;height: 15px;line-height: 15px;float: left; margin-right: 20px; text-indent: 5px; position: relative; }
.model-select-text{ height: 19px; padding-right: 19px;min-width: 100%;}
.model-select-option { display:none;z-index:9;position: absolute; background: #fff; width: 100%; left: -1px; border: 1px solid #aaa;}
.model-select-option li { height: 22px; line-height: 22px; color: #555; cursor: pointer;}
.wran em{padding-left: 10px;display: inline-block;}
.wran input{border:1px solid #f63636;}
.wran i{background: url('../image/wran.png') no-repeat;width: 20px;height: 20px;display: inline-block;float: left;}
.wran span{color:#f63636;}
/*分页*/
.pager {font-size: .9em;font-family: Tahoma,Helvetica,sans-serif;text-align: center;padding: 10px 0;}
.pager span {padding: 2px 4px;cursor: pointer;margin: 2px;line-height: normal;border: 1px solid #ccdbe4;color: #666;border-radius: 2px; text-decoration: none;}
.pager>div{display: inline-block;padding-right: 10px;color:#666;}
.pager input{width: 20px;margin: 0 5px;}

/*图标*/
.btn-save-close span,.btn-c span,.btn-primary span,.head-nav-inner a,.head-nav-inner a span{background: url('../image/sliding.png') no-repeat 0 0;}
.head-nav-top .head-opts a.on i{background: url('../image/icon.png') no-repeat;width:10px;height: 10px;display: inline-block;position: absolute;right: 0;}

/*按钮*/
.btn {display: inline-block;background: transparent;height: 30px;line-height:30px;overflow: visible;padding: 0;margin: 0 1px;border: 0 none;text-decoration: none;vertical-align: middle;font-size: 12px;font-weight: normal;cursor: pointer;}
.btn span{display: block;padding: 0 0 0 10px;white-space: nowrap;overflow: visible;}
.btn span span,.btn-primary span span{padding-right: 20px;background-position: 100% -90px;}
.btn-primary span{background-position: 0 -90px;color: white;font-weight: bold;}
.btn-secondary{height: 26px;line-height: 26px;margin-top: -1px;border-radius: 2px;}
.btn-secondary{border:1px solid #3f70be;}
.btn-save-close span{background-position: 0 -172px;}
.btn-save-close span span{background-position: 100% -172px;color:#fff;font-weight: 600;}
.btn-c span{background-position: 0 -127px;padding-left: 5px;font-weight: 600;}
.btn-c span span{background-position: 100% -127px;padding-right: 10px;}

/*下拉导航栏*/
.optBtn{display: inline-block;position: relative;}
.optBtn .x-drop-menu{top:25px;display: none;left:0;text-align: center;}
.x-drop-menu {width:100%;position: absolute;display: none;white-space: nowrap;background: white;z-index: 999;padding: 5px 0;line-height: 180%;box-shadow: 0 5px 10px #e8e8e8;-webkit-box-shadow: 0 5px 10px #e8e8e8;-moz-box-shadow: 5px 5px 5px #e8e8e8;-o-box-shadow: 5px 5px 5px #e8e8e8;}


/*页面样式*/
#body{overflow: hidden;height: 100%;width: 100%;border: 0;min-width: 960px;}

/*ifrmae占位*/
.header_iframe{height: 79px;}
.side_iframe{height: 100%;}
.side_iframe,.workground_iframe{height: 100%;margin: 0;position: absolute;top: 0;left: 0;width: 100%;}

/*头部+导航栏*/
.header{height: 74px;position: relative;z-index: 7000;border-bottom:5px solid #396bb9;padding-right: 15px;}
.header-inner{position: absolute;left: 0;}
.top-bar,.head-opts a{font-family: Arial;color: #333;white-space: nowrap;position: relative;}
.logo{float:left;height:35px;line-height:35px;overflow:hidden;padding-left:15px;padding-top:5px;margin:0 10px 0 0;color:black;font-size: 18px;font-family:"Microsoft Yahei";}
.logo .l{font-size: 12px;color:#3f70be;padding: 0 5px;}
.head-opts li.optBtn img{padding-right: 5px;}
.head-opts li.optBtn a{color:#3f70be;}
.finder-list .edit .opt-handle i,.business-nav i,.head-opts li.optBtn i{width: 10px;height: 10px;display: inline-block;background: url('../image/icon01.png');}
.optBtn .droping{display: block;}
.head-license{padding-top: 5px;}
.head-opts li{display: inline-block;float: left;padding: 0px 6px;font-size: 16px;color:#3f70be;}
.business-nav{right: 0;height: 35px;line-height: 35px;border: 2px solid #396bb9;border-radius: 5px;border-bottom: none;}
.business-nav .optBtn{padding: 0 25px;}
.business-nav a{color: #7493cc;font-size: 14px;}
.business-nav .x-drop-menu>div{line-height: 30px;height: 30px;}
.business-nav .x-drop-menu>div:hover{background-color:#d9e2f2;}
.head-nav{padding: 4px 10px 0;clear: both;font-family: "Microsoft YaHei";position: relative;}
.head-nav-inner>li{float: left;display: block;/*-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;*/}
.head-nav-inner a{background-position: 0px -44px;color: #3f4d69;cursor: pointer;float: left;font-size: 14px;height: 35px;line-height: 35px;padding: 0 0 0 40px;}
.head-nav-top{padding-top: 5px;}
.head-nav-inner a span{background-position: 100% -44px;float: left;padding: 0 40px 0 0;}
.head-nav-inner a.current{color:#fff;background-position: 0px 0px;}
.head-nav-inner a.current span{background-position: 100% 0px;}
.shop-title{position: absolute; top: 35px;letter-spacing: 2px;color: #396bb9;font-size: 16px;font-weight: 400;color: #396bb9;}

/*侧栏选中*/
.side-bx a.current{background: url(../image/icon02.png) no-repeat 103% 50% #21529e;border-left: 2px solid #47c7ad;}

/*侧栏--订单列表页*/
.side{overflow-y: auto;}
.side .side-inner{height: 100%;background-color: #396bb9;}
.side-bx-bd i{width: 18px;height: 18px;display: inline-block;float: left;padding-right: 5px;}
.side-bx-title{padding: 4px 18px;font-size: 14px;line-height: 22px;height: 20px;overflow: hidden;color:#fff;font-weight: 500;}
.side .side-content{padding: 6px 0;margin:0 auto;}
.side-bx ul {padding: 1px 0 5px;}
.side-bx li {margin: 0 0 1px;}
.side-bx a {padding:5px 0px 5px 30px;color:#fff;}
.side-bx-bd .list{background: url('../image/order01.png') no-repeat}
.side-bx-bd .remind{background: url('../image/order02.png') no-repeat}
.side-bx-bd .return{background: url('../image/order03.png') no-repeat}
.side-bx-bd .reimburse{background: url('../image/order4.png') no-repeat}
.side-bx-bd .exchange{background: url('../image/order05.png') no-repeat}

/*右-内容*/
div.workground,div.side{height: 100%;margin: 0;position: absolute;top: 0;left: 0;width: 100%;}
div.workground{background: white;overflow: hidden;width: 100%;}
#container {position: relative;overflow: hidden;}

/*面包屑*/
.breadcrumb_box{background-color: #396bb9;}
.breadcrumb_bg{background-color: #f5f5f5;border-top-left-radius:5px;}
.breadcrumb_box p,.breadcrumb{display: inline-block;}
.breadcrumb_box p,.breadcrumb{padding: 8px 15px;border-radius: 4px}
.breadcrumb>li{display: inline-block;}
.breadcrumb a{background: url('../image/icon03.png') no-repeat 100% 0;padding-right: 15px;color:#666;}
.breadcrumb>li.active a{color:#3f70be;background:none;}

/*finder搜索*/
.content-head{margin: 20px;border: 1px solid #e1e1e1;}
.head-title{color: #222;border: 0;background: #f7f7f7;position: relative;height: 30px;line-height: 30px;padding: 0 15px;}
.finder-filter-action-handle{width: auto;position: absolute;right: 0;top: 0;padding: 1px 0;}
.finder-filter-action-handle>a{padding: 2px 25px 2px 5px;border: 1px solid #bbbbbb;margin-right: 15px;color: #666;background: url(../image/icon04.png) no-repeat 90%;}
.finder-search-list>li{float: left;min-width: 25%;height: 30px;line-height: 30px;padding: 5px 0;}
.finder-search-list em.title{width: 105px;text-align: right;display: inline-block;float: left;}

/*批量操作*/
.finder-action-items i,.transforms{transform:translateY(-50%)}
.finder-action-items i{padding-right:5px;position: absolute;width: 10px;height: 10px;right: 2px;top: 50%;background: url(../image/icon11.png) no-repeat;}
.batch{z-index: 1;background: #fff;font-size: 14px;}
.batch{padding: 5px 10px;padding: 5px 15px;border: 1px solid #eee;}
.batch a{color:#666;}

/*数据列表*/
.tableform th{text-align: right;font-weight: normal;white-space: nowrap;width: 120px;padding-right: 5px;color: #4f4f4f;}
.tableform th, .tableform td {padding: 7px 5px;} 

.table-action {padding: 10px 0;height: 35px;line-height: 35px;margin: 5px 0 0 0;text-align: center;clear: both;margin-bottom: 10px;}
.finder-header{background:#f7f7f7;overflow: hidden;}
.finder-header td{padding: 5px 0;border-top:1px solid #e1e1e1;border-bottom: 1px solid #e1e1e1;}
.finder-list{overflow-x: auto;border:1px solid #e1e1e1;}
.finder-header td,.finder-list td,.finder-header td{min-width: 120px;text-align: center;text-align: center;overflow-x: }
.finder-list .row{height: 23px;line-height: 23px;background-color: white;}
.finder-list .first td {border-top: 1px #e9e9e9 solid;}
.finder-list .cell{white-space: nowrap;padding: 5px 5px;}
.finder-action-items{padding: 10px 20px;}
.finder-action-items .total{padding-left: 10px;}
.finder-action-items .total>span{color:#f0185d;}
.finder-list .even {background-color: #f8f8f8;}
.finder-list .cell .droping li{height: 17px;line-height: 17px;background-color: white;border-right: 0 none;padding: 2px 8px 2px 4px;color: #333;z-index: 6005;}
.finder-list .cell .opt-handle {color: #3367ac;cursor: pointer;white-space: nowrap;display: inline-block;}
.finder-list .cell .x-drop-menu {border-color: #666;z-index: 6004;color: #3367ac;padding: 2px 6px;left: 100%;top:0;}
.finder-list span{padding: 0 4px;}
.finder-list .x-drop-menu{width: 120px;}
.finder-list .x-drop-menu li{width: 20px;line-height: 20px;}
.finder-list .on .opt-handle{padding: 0 4px;box-shadow: 0 5px 20px #999;}
/*主体内宅*/
.content-main{height: 100%;position: relative;zoom: 1;}

/***灰块表格*****/
.single-page .content-main{background-color: #f7f7f7;margin-top: 36px;padding-bottom:30px;overflow: auto;}
.single-page .table-action{margin-bottom: 40px;}
.spage-main-head{background-color: #4173c3;color:#fff;height: 36px;line-height: 36px;padding-left: 20px;position: fixed;top: 0;width: 100%;}
.spage-main-box{background-color: #fff;margin: 20px;padding: 10px;border-radius: 2px;box-shadow: 0 0 5px 1px #ededed;}
.spage-main-box .box-form{border-radius: 2px;background-color: #f7f7f7;padding: 8px;border:1px solid #e1e1e1;}
.spage-main-box .box-form>table{width: 100%;}
.spage-main-box .title{height: 30px;line-height: 30px;}
.box-form>table th{width:18%;}
.box-form>table td{width:80%;}
.box-form>table td span{padding-left: 15px;}


/*列表表格*/
.spage-main-box .division{margin-left:13%;}
.division table{border: 1px solid #e1e1e1;}
.division table thead{background-color: #eff3fa;}
.division th,.division td{width: inherit;text-align: center;min-width: 80px;text-overflow:ellipsis}
.division td{background-color: #fff;border-top: 1px solid #e1e1e1}
.box-c{padding: 1px 8px;border: 1px solid #e1e1e1;color: #f63636;font-weight: 600;}
.division .info{line-height: 35px;height: 30px;}
.rows-body td{border-top: 1px solid #eee;text-align: center;background-color: #fff;}
.rows-body thead th{background-color: #eff3fa;text-align: center;font-weight: 600;}
.rows-body .info{padding: 5px 0;text-align: left;}
.rows-body span{display: inline-block;padding: 0px 10px;color:#f63636;font-weight: 600;}

/*弹层*/
.dialog-box .btn-close{}
.dialog-box .tableform table{border: 1px solid #e1e1e1;border-radius: 2px;}
.dialog-box .tableform th{background:#f5f5f5;text-align: center;}
.dialog-box .tableform td{text-align: center;border-top:1px solid #e1e1e1;}
.dialog-box .col-select-opt-inner{float: left;padding-left: 10px;}
