<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="revisit-after" content="1 days" />
    <meta content="all" name="robots" />
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/common.css">
    <script src="js/basic.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/restrievePasswordCtrl-next.js"></script>
    <title>填写新密码</title>
</head>

<body ng-app = "IshopMobile" ng-controller = "restrievePasswordCtrlNext">
<div class="header clearfix">
    <a class ="back_button" href="javascript:void(0);"></a>
    <h1>忘记密码</h1>
</div><!-- header结束 -->
<div class="wrapper">
<div class="password-border">
	<div class="new-password clearfix">
    	<input class="fl" type={{type}}  ng-model="new_password" />
        <span ng-if="new_password">
        	<em class="fr" ng-click="remove_password()"></em>
            <em class="fr {{show}}" ng-click="change_type()"></em>
         </span>
    </div>
    <button class="complete_btn" ng-disabled="!new_password">完成</button>
</div> 
</div>

</body>
</html>
