<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="revisit-after" content="1 days" />
    <meta content="all" name="robots" />
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/common.css">
    <script src="js/basic.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/restrievePasswordCtrl.js"></script>
    <title>忘记密码</title>
</head>
<body ng-app = "IshopMobile" ng-controller = "restrievePasswordCtrl">
<div class="header clearfix">
    <a class ="back_button" href="javascript:void(0);"></a>
    <h1>忘记密码</h1>
</div><!-- header结束 -->
<div class="wrapper Retrieve_password">
	<div class="login_list">
    	<div class="account">
        	<input type="text" placeholder="请输入您的账号" ng-model="account" maxlength="11" />
            <span ng-if="account" ng-click="account_remove()"></span>
        </div>	<!--account 账号-->
        <div class="security clearfix pr">
        	<div class="securityCode fl">
        	<input  type="text" placeholder="请输入验证码" ng-model="securityCode" maxlength="4" />
            <span ng-if="securityCode" ng-click="securityCode_remove()"></span>
            </div>
            <button class="code_btn {{security_code}} fr"  ng-click="getCode()" ng-disabled="!account">{{text}}</button>
            <div class="shape">
                <em class="pa"></em>
                <em class="pa"></em>
            </div>
        </div><!--短信验证码-->
        <div class="security  clearfix pr hide">
        <div class="securityImg fl">
        <input  type="text" placeholder="请输入图形验证码" ng-model="securityImg" maxlength="4" />
            <span ng-if="securityImg" ng-click="securityImg_remove()"></span>
         </div>
         <img src="images/security_img.png" />
        <div class="shape">
            <em class="pa"></em>
            <em class="pa"></em>
        </div>
        </div><!--系统图形验证码--> 
    </div>
    <div class="bind_tel">
    	<button href="javascript:void(0);" class="{{bind_code}}" ng-click="next_step" ng-disabled="!security">下一步</button>
    </div><!--下一步按钮-->
</div>
</body>
</html>
