<ng-header2></ng-header2>
<div class="wrapper">
	<div class="commodity_selt">
   		<div class="commodity_selt_address bg_white box_adorn margin_lr10 padding_lr10">
        	<div class="have_address">
            	<div class="have_address_head">
                    <h2><em class="font65">王秀明</em><span class="font65">133****0934</span></h2>
                    <p class="mt5 font65">上海市浦东新区陆家嘴软件园峨山路91号2号楼百胜软件</p>
                </div>
                <div class="freight">
                	<p class="clearfix"><em class="fr">运费：￥5</em></p> 
                </div>
            </div>
            <div class="no_address tc none">
            	<p><i class="in_b color_f box_circle tc font65">+</i><em class="font65 color9">请添加收货地址</em></p>
            </div>
        </div>
        <div class="commodity_listing bg_white box_adorn margin_lr10">
        	<div class="commodity_listing_head padding_lr10">
            	<em class="font65 fb">商品清单</em>
                <p class="fr tr font65 omit1">商品金额<span class="ml2">￥134.00</span></p>
            </div>
            <div class="listing_inner margin_lr10">
            	<div class="listing_infor clearfix">
                	<p class="name font65 fl omit1"><em class="box_radius font55 color_f mr2">赠品</em>夏季潮流碎花抹胸短裙</p>
                    <p class="num fl tc omit1">X1</p>
                    <p class="price fl omit1">￥134.00</p>
                </div>
                <div class="listing_infor clearfix">
                	<p class="name font65 fl omit1">夏季潮流碎花抹胸短裙</p>
                    <p class="num fl tc omit1">X1</p>
                    <p class="price fl omit1">￥134.00</p>
                </div>
            </div>
        </div>
        <div class="commodity_listing Preferential_way bg_white box_adorn margin_lr10">
        	<div class="commodity_listing_head padding_lr10">
            	<em class="font65 fb">优惠方式</em>
                <p class="fr tr font65 omit1">已优惠金额<span class="ml2">-￥23.50</span></p>
            </div>
            <div class="Preferential_list margin_lr10">
            	<div class="Preferential_infor oh">
                	<p class="fl"><i class="mr5 vtb"></i><em class="font65">优惠劵</em></p>
                    <span class="fr">满500减20</span>
                </div>
                <div class="Preferential_infor oh no_use">
                	<p class="fl"><i class="mr5 vtb"></i><em class="font65">积分抵扣(可用740积分)</em></p>
                    <span class="fr">-￥3.80</span>
                </div>
                <div class="Preferential_infor oh">
                	<p class="fl"><i class="mr5 vtb"></i><em class="font65">其它优惠劵</em></p>
                    <span class="fr">输入优惠劵码</span>
                </div>
            </div>
        </div>
        <div class="commodity_listing pay_way bg_white box_adorn margin_lr10">
        	<div class="commodity_listing_head padding_lr10">
            	<em class="font65 fb">支付方式</em>
                <p class="fr tr font65 omit1">还需支付<span class="ml2">-￥23.50</span></p>
            </div>
            <div class="pay_list margin_lr10 border_t">
            	<div class="pay_infor clearfix pr">
                	<h3 class="fl pa"><i></i></h3>
                    <div class="fl clearfix pa">
                    	<h4 class="fl mr5"><i class="vbt weixin"></i></h4>
                        <div class="name fl">
                        	<h5 class="font75">微信支付</h5>
                            <p class="color9">推荐已安装微信客户端的用户使用</p>
                        </div>
                    </div>
                </div>
                <div class="pay_infor clearfix pr">
                	<h3 class="fl pa"><i></i></h3>
                    <div class="fl clearfix pa">
                    	<h4 class="fl mr5"><i class="vbt pay_zhifubao"></i></h4>
                        <div class="name fl">
                        	<h5 class="font75">支付宝支付</h5>
                            <p class="color9">推荐已安装支付宝客户端的用户使用</p>
                        </div>
                    </div>
                </div>
                <div class="pay_infor clearfix pr">
                	<h3 class="fl pa"><i></i></h3>
                    <div class="fl clearfix pa">
                    	<h4 class="fl mr5"><i class="vbt pay_cart"></i></h4>
                        <div class="name fl">
                        	<h5 class="font75">银行卡支付</h5>
                            <p class="color9">支持储蓄卡和信用卡支付</p>
                        </div>
                    </div>
                </div>
                <div class="pay_infor clearfix pr">
                	<h3 class="fl pa"><i></i></h3>
                    <div class="fl clearfix pa">
                    	<h4 class="fl mr5"><i class="vbt pay_deposit"></i></h4>
                        <div class="name fl">
                        	<h5 class="font75">预存款支付</h5>
                            <p class="color9">使用预存余额完成支付</p>
                        </div>
                    </div>
                </div>
                <div class="pay_infor clearfix pr">
                	<h3 class="fl pa"><i></i></h3>
                    <div class="fl clearfix pa">
                    	<h4 class="fl mr5"><i class="vbt pay_delivery"></i></h4>
                        <div class="name fl">
                        	<h5 class="font75">货到付款</h5>
                            <p class="color9">本商品支持货到付款</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pay_check border_t">
            	<p class="tc font65"><em>选择其他支付方式<i></i></em></p>
            </div>
        </div><!--选择支付方式结束-->
        <div class="commodity_listing id_information bg_white box_adorn margin_lr10">
        	<div class="commodity_listing_head id_information_head padding_lr10">
            	<em class="font65 fb">身份验证</em>
                <p class="fr tr font65 omit1">海外跨境商品需要您的身份验证</p>
            </div>
            <div class="id_information_inner margin_lr10 border_t pr">
            	<div class="name clearfix">
                	<p class="font65 fl tr"><em>您的姓名：</em></p>
                    <h2 class="fl pa"><input class="font65 box_radius" type="text" name=""></h2>
                </div>
                <div class="number clearfix">
                	<p class="font65 fl tr"><em>身份证：</em></p>
                    <h2 class="fl pa"><input class="font65 box_radius" type="text" name=""></h2>
                </div>
            </div>
        </div><!--身份验证结束-->
        <div class="invoice bg_white box_adorn margin_lr10">
        	<div class="invoice_head  padding_lr10">
            	<p><i class="vtb"></i><em class="font65 fb ml5">开具发票</em></p>
            </div>
            <div class="invoice_type clearfix margin_lr10 border_t pr oh">
            	<p class="fl font65">发票类型</p>
                <ul class="fl pa translateY">
                	<li class="current fl" ng-click="personal_invoice()"><a class="font65" href="javascript:void(0);">个人发票</a></li>
                    <li class="fl" ng-click="company_invoice()"><a class="font65"  href="javascript:void(0);">公司发票</a></li>
                </ul>
            </div>
            <div class="invoice_inner margin_lr10">
            	<div class="com_invoice border_t">
                	<p class="fl font65"><em>发票抬头</em></p>
                    <input class="font65" type="text" name="" placeholder="请输入公司名称">
                </div>
            	<div class="per_invoice border_t">
                	<p class="fl font65"><em>发票内容</em></p>
                    <select>
                    	<option>办公用品</option>
                        <option>办公用品</option>
                        <option>办公用品</option>
                        <option>办公用品</option>
                    </select>
                </div>
            </div>
        </div><!--开发票结束-->
        <div class="invoice remark bg_white box_adorn margin_lr10">
        	<div class="invoice_head  padding_lr10">
            	<p><i class="vtb"></i><em class="font65 fb ml5">备注信息</em><span class="fr color6">100字以内</span></p>
            </div>
            <div class="invoice_inner margin_lr10">
            	<textarea class="box_radius" placeholder="请填写您的要求"></textarea>
            </div>
        </div><!--备注结束-->
    </div><!--commodity_selt-->
</div>
<!--wrap ed-->
<div class="commodity_foot pa">
	<a class="in_b color_f tc" href="javascript:void(0);">立即支付</a>
</div>
