<style>
	.aftersale_nav .nav i{right: 0;height: 0.85rem;width: 1px;top: 0.6rem;}
	.aftersale_nav .nav a{padding: 0.5rem;}
	.trade_list .trade_header,.trade .t_footer{height: 2rem;line-height: 2rem}
	.trade .infor a{width:23%;margin-right: 0.25rem}
	.trade .infor{min-height: 3.45rem;}
	.trade .infor_inner{width: 75%}
	.trade .for{line-height: 2rem}
	.mr50{margin-right: 0.5rem}
	.trade .t_footer a{line-height:1rem;}
	.trade .tis{
		width: 100%;
	    height: 1rem;
	    line-height: 1rem;
	    background-color: #000;
	    opacity: 0.5;
	}
</style>
<ng-header2></ng-header2>
<div class="wrap">
	<div class="goods_aftersale">
		<div class="aftersale_nav bg_white mui-scroll-wrapper">
			<ul class="average tc font75 nav" >
				<li class="pr"><a href="javascript:void(0)" class="in_b color6 ">商品订单</a><i class="border_r pa"></i></li>
				<li><a href="javascript:void(0)" class="in_b color6">售后进度</a></li>
			</ul>
		</div>

		<div class="trade_list mt5 padding_lr10">
			<div class="trade border_all box_adorn font65">
				<p class="trade_header bg_white padding_lr10">
					<em class="fl">订单编号：KJL140517780659</em><span class="fr">2016.02.13 08:10</span>
				</p>
                <div class="infor padding_lr10 mt5">
                    <a class="fl in_b pr img border_all" href="javascript:void(0);"><img class="img_b" src="image/img/swiper_img.png">
                    <em class="pa in_b color_f translateY tc">已售后</em>
                    </a>
					<div class="infor_inner fr">
                            <h2 class="omit2 font60 color3 mt1">Nike 耐克Air Max 90 ULTRA GS女子彩虹配色气垫休闲鞋</h2>
                            <h3 class="color6 mt2"><em class="mr50">价格￥170.00</em><spna>x1</span></h3>
                   </div>

               </div> 
               <div class="clear"></div>
               <div class="padding_lr10 bg_white t_footer mt5">
               		<em>订单总金额：￥170.00</em><a class="border_all mt5 color6 box_radius fr padding_lr10" href="javascript:void(0)" ng-click="">申请售后</a>
               </div>              
			</div>

			<div class="trade border_all box_adorn font65 mt5">
				<p class="trade_header bg_white padding_lr10">
					<em class="fl">订单编号：KJL140517780659</em><span class="fr">2016.02.13 08:10</span>
				</p>
				<div class="swiper-container">
			        <div class="swiper-wrapper mt5">
			           <div class="swiper-slide"><a class="fl in_b pr img border_all" href="javascript:void(0);"><img class="img_b" src="image/img/swiper_img.png"><em class="tis pa in_b color_f translateY tc">已售后</em></a> </div>
			           <div class="swiper-slide"><a class="fl in_b pr img border_all" href="javascript:void(0);"><img class="img_b" src="image/img/swiper_img.png"><em class="tis pa in_b color_f translateY tc">已售后</em></a> </div>
			           <div class="swiper-slide"><a class="fl in_b pr img border_all" href="javascript:void(0);"><img class="img_b" src="image/img/swiper_img.png"><em class="tis pa in_b color_f translateY tc">已售后</em></a> </div>
			           <div class="swiper-slide"><a class="fl in_b pr img border_all" href="javascript:void(0);"><img class="img_b" src="image/img/swiper_img.png"><em class="tis pa in_b color_f translateY tc">已售后</em></a> </div>
			           <div class="swiper-slide"><a class="fl in_b pr img border_all" href="javascript:void(0);"><img class="img_b" src="image/img/swiper_img.png"><em class="tis pa in_b color_f translateY tc">已售后</em></a> </div>
			           <div class="swiper-slide"><a class="fl in_b pr img border_all" href="javascript:void(0);"><img class="img_b" src="image/img/swiper_img.png"><em class="tis pa in_b color_f translateY tc">已售后</em></a> </div>
			           <div class="swiper-slide"><a class="fl in_b pr img border_all" href="javascript:void(0);"><img class="img_b" src="image/img/swiper_img.png"><em class="tis pa in_b color_f translateY tc">已售后</em></a> </div>
			        </div>
		    	</div>
                <div class="padding_lr10 bg_white t_footer mt5">
               		<em>订单总金额：￥170.00</em><a class="border_all mt5 color6 box_radius fr padding_lr10" href="javascript:void(0)" ng-click="">申请售后</a>
                </div>              
			</div>
		</div>

	</div>
</div>