<ng-header></ng-header>
<div class="wrap">
	<div class="login bind retrieve">
    	<div class="login_list border_all box_adorn bg_white">
        	<div class="password clearfix border_t pr margin_lr15">
                <h2 class="fl"><input class="font70" type="{{type}}" placeholder="请输入您的新密码" ng-model="new_password"></h2>
                <div class="passw fr" ng-if="new_password">
                    <i class="pa translateY {{show}}" ng-click="change_type()"></i>
                    <i class="pa translateY" ng-click="new_password_remove()"></i>
                </div>
            </div>
        </div>
        <div class="bind_tel btn_init mt10">
        	<input type="button" href="javascript:void(0);" class="{{bind_code}}" value="完成" ng-click="next_step()" ng-disabled="!new_password"/>
        </div>
	</div>
</div>
<!--wrap ed-->
<!--错误弹框-->
<div class="error {{error_now}}">
	<p>您输入的验证码有误</p>
</div>
