<ng-header></ng-header>
<div class="wrap">
	<div class="other_infor">
    	<h2 class="omit1 tc font60">认真填写此信息，有助于我们为您提供更加优质的服务</h2>
        <div class="other_list bg_white">
        	<div class="user_name">
            	<em>您的姓名：</em>
                <input class="box_radius border_all" type="text" name="" ng-model="user_name">
            </div>
            <div class="user_sex">
            	<em>您的性别：</em>
                <select class="box_radius border_all" >
                    <option>男</option>
                    <option>女</option>
                </select>
            </div>
            <div class="user_date">
            	<em>您的生日：</em>
                <input class="box_radius border_all"  type="date" name="" ng-model="user_name">
            </div>
            <div class="user_date">
            	<em>从事行业：</em>
                <select class="box_radius border_all" >
                    <option>男</option>
                    <option>女</option>
                </select>
            </div>
            <div class="user_date">
            	<em class="vt">您的爱好：</em>
                <textarea class="box_radius border_all"></textarea>
            </div>
        </div>
        <h4 class="btn_init"><input type="button" name="" value="确认"/></h4>
    </div>
</div>
<!--wrap ed-->
