<ng-header2></ng-header2>
<div class="wrap">
	<div class="personal_sign_page">
    	<div class="personal_sign_head pr border_b">
            <div class="personal_sign_hr pa translateY tc">
                <div class="sign_act box_radius font75 color_f"><a href="javascript:void(0);" ng-click="sign_action()" class="color_f">签到得积分</a></div>
                <p class="mt2">我的积分：<em>750</em>分</p>
            </div>
        </div>
        <div class="personal_tab margin_lr10 bg_white box_adorn">
            <ul class="average">
                <li class="tc active" ng-click="sign_tab(0)">
                    <div class="border_r">
                        <a href="javascript:void(0);"><i></i><em class="color6">积分兑换优惠券</em></a>
                    </div>
                </li>
                <li class="tc" ng-click="sign_tab(1)">
                    <div>
                        <a href="javascript:void(0);"><i></i><em class="color6">积分兑换商品</em></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="personal_sign_change c_coupon margin_lr10">
            <ul class="bg_white box_adorn">
                <li class="pr">
                    <img src="image/personal_center/sign_coupon.png" alt="" class="pa translateY border_all box_radius">
                    <div class="pa translateY">
                        <p class="goods_name color3 font75">全品类优惠券，满300减100</p>
                        <div class="change_point font75"><span>390</span>积分</div>
                        <p class="color6 font70">市场参考价：<del>￥<em>230.00</em></del></p>
                    </div>
                    <a href="javascript:void(0);"><em class="pa border_all color3 box_radius">兑换</em></a>
                </li>
                <li class="pr">
                    <img src="image/personal_center/sign_coupon.png" alt="" class="pa translateY border_all box_radius">
                    <div class="pa translateY">
                        <p class="goods_name color3 font75">全品类优惠券，满300减100</p>
                        <div class="change_point font75"><span>390</span>积分</div>
                        <p class="color6 font70">市场参考价：<del>￥<em>230.00</em></del></p>
                    </div>
                    <a href="javascript:void(0);"><em class="pa border_all color3 box_radius">兑换</em></a>
                </li>
                <li class="pr">
                    <img src="image/personal_center/sign_coupon.png" alt="" class="pa translateY border_all box_radius">
                    <div class="pa translateY">
                        <p class="goods_name color3 font75">全品类优惠券，满300减100</p>
                        <div class="change_point font75"><span>390</span>积分</div>
                        <p class="color6 font70">市场参考价：<del>￥<em>230.00</em></del></p>
                    </div>
                    <a href="javascript:void(0);"><em class="pa border_all color3 box_radius">兑换</em></a>
                </li>
                <li class="pr">
                    <img src="image/personal_center/sign_coupon.png" alt="" class="pa translateY border_all box_radius">
                    <div class="pa translateY">
                        <p class="goods_name color3 font75">全品类优惠券，满300减100</p>
                        <div class="change_point font75"><span>390</span>积分</div>
                        <p class="color6 font70">市场参考价：<del>￥<em>230.00</em></del></p>
                    </div>
                    <a href="javascript:void(0);"><em class="pa border_all color3 box_radius">兑换</em></a>
                </li>
            </ul>
            <!-- 列表无数据时 -->
            <div class="personal_change_noData pr tc none"><p class="pa color9">暂无可兑换的优惠券</p></div>
        </div>
        <div class="personal_sign_change c_goods margin_lr10 none">
            <ul class="bg_white box_adorn">
                <li class="pr">
                    <img src="image/personal_center/sign_goods.png" alt="" class="pa translateY border_all box_radius">
                    <div class="pa translateY">
                        <p class="goods_name color3 font75">2016春季精品 adidas高帮运动鞋帮</p>
                        <div class="change_point font75"><span>3900</span>积分</div>
                        <p class="color6 font70">市场参考价：<del>￥<em>230.00</em></del></p>
                    </div>
                    <a href="javascript:void(0);"><em class="pa border_all color3 box_radius">兑换</em></a>
                </li>
                <li class="pr">
                    <img src="image/personal_center/sign_goods.png" alt="" class="pa translateY border_all box_radius">
                    <div class="pa translateY">
                        <p class="goods_name color3 font75">2016春季精品 adidas高帮运动鞋帮</p>
                        <div class="change_point font75"><span>3900</span>积分</div>
                        <p class="color6 font70">市场参考价：<del>￥<em>230.00</em></del></p>
                    </div>
                    <a href="javascript:void(0);"><em class="pa border_all color3 box_radius">兑换</em></a>
                </li>
                <li class="pr">
                    <img src="image/personal_center/sign_goods.png" alt="" class="pa translateY border_all box_radius">
                    <div class="pa translateY">
                        <p class="goods_name color3 font75">2016春季精品 adidas高帮运动鞋帮</p>
                        <div class="change_point font75"><span>3900</span>积分</div>
                        <p class="color6 font70">市场参考价：<del>￥<em>230.00</em></del></p>
                    </div>
                    <a href="javascript:void(0);"><em class="pa border_all color3 box_radius">兑换</em></a>
                </li>
                <li class="pr">
                    <img src="image/personal_center/sign_goods.png" alt="" class="pa translateY border_all box_radius">
                    <div class="pa translateY">
                        <p class="goods_name color3 font75">2016春季精品 adidas高帮运动鞋帮</p>
                        <div class="change_point font75"><span>3900</span>积分</div>
                        <p class="color6 font70">市场参考价：<del>￥<em>230.00</em></del></p>
                    </div>
                    <a href="javascript:void(0);"><em class="pa border_all color3 box_radius">兑换</em></a>
                </li>
            </ul>
            <!-- 列表无数据时 -->
            <div class="personal_change_noData pr tc none"><p class="pa color9">暂无可兑换的商品</p></div>
        </div>

    </div>
</div>
<!--wrap ed-->
<div class="mask none"></div>
<div class="personal_sign_act_box pa none">
    <div class="pr">
        <i class="personal_act_exit pa" ng-click="act_exit()"></i>
        <div class="pa tc font75 fb">已经签到<div class="in_b ml5">+<em>3</em>分</div></div>
        <p class="pa tc color_f">每日签到获积分，换好礼</p>
    </div>
</div>