<ng-header></ng-header>
<div class="wrap">
	<div class="login bind">
    	<div class="login_list border_all box_adorn bg_white">
            <div class="account clearfix border_t pr margin_lr15">
                <h2 class="fl"><input class="font70" type="text" placeholder="请输入您的帐号" ng-model="account"></h2>
                <div class="aunt fr" ng-if="account">           
                    <i class="pa translateY" ng-click="account_remove()"></i>
                </div>
            </div>
            <div class="security border_t clearfix pr margin_lr15">
            	<h2 class="fl"><input class="font70" type="text" placeholder="请输入验证码" ng-model="security_img"></h2>
                <div class="secut fr">
                    <i class="pa translateY" ng-if="security_img" ng-click="security_img_remove()"></i>
                    <em><img src="image/img/security_img.png"/></em>
                </div>
            	<div class="shape pr">
                    <em class="border_r translate_init pa in_b"></em>
                    <em class="border_l pa in_b"></em>
                </div>
            </div>
            <div class="security border_t clearfix pr margin_lr15">
            	<h2 class="fl"><input class="font70" type="text" placeholder="请输入验证码" ng-model="security" maxlength="4"></h2>
                <div class="secut fr">
                    <i class="pa translateY" ng-if="security" ng-click="security_remove()"></i>
                    <input type="button" ng-click="getCode()" class="security_code color_f tc font70  {{ecurit_code}}" ng-value="text" ng-disabled="!account">
                </div>
            	<div class="shape pr">
                    <em class="border_r translate_init pa in_b"></em>
                    <em class="border_l pa in_b"></em>
                </div>
            </div>
		</div>
        <div class="bind_tel btn_init mt10">
        	<input type="button" href="javascript:void(0);" class="{{bind_code}}" value="下一步" ng-click="next_step()" ng-disabled="!security"/>
        </div>
	</div>
</div>
<!--wrap ed-->
<!--错误弹框-->
<div class="error {{error_now}}">
	<p>您输入的验证码有误</p>
</div>
