@charset "utf-8";
/* CSS

reset */
html,body{ width:100%; height:100%;}
html{ font-size:62.5% ;  }
body{  font:12px/150% "Microsoft Yahei",Arial,sans-serif; word-break:break-all;  color:#333;  }
img { border: 0 none; vertical-align: top; }
input,button{ border:0 none; font-family:"Microsoft Yahei",Arial, sans-serif; }
input,button,select,textarea{outline:none}
input[type=radio], input[type=checkbox], input[type=button], input[type=file]{ cursor:pointer;}
textarea{resize:none}
a{ color:#000; outline:none;text-decoration:none;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0;padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
.clear{clear: both;}
fieldset,img{ border:0;}

address,caption,cite,code,dfn,em,strong,th,var,b,i { font-style:normal; font-weight:normal;}
ol li,ul li{ list-style:none;}
caption { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size:100%;font-weight:normal; }
q:before,q:after { content:'';}
abbr,acronym { border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/*文字排版*/
.f12{ font-size:12px;}
.f13{ font-size:13px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.f22{ font-size:22px;}
.f24{ font-size:24px;}
.f26{ font-size:26px;}
.f30{ font-size:30px;}
.f35{ font-size:35px;}
.f50{ font-size:50px;}
.f55{ font-size:55px;}
.f60{ font-size:60px;}
.fw{ font-family:Tahoma,sans-serif;}
.fa{ font-family: Arial, sans-serif;}
.fv{ font-family:verdana, sans-serif;}
.fm{ font-family:"Microsoft Yahei", sans-serif;}
.fh{ font-family:simhei, sans-serif;}
.fs{ font-family:SimSun, sans-serif;}
.fb{ font-weight:bold;}
.fn{ font-weight:normal;}
.t2e{ text-indent:2em;}
.th{ text-indent:-9999em;}
.lh30{ line-height:30px;}
.lh150{ line-height:150%;}
.lh180{ line-height:180%;}
.lh200{ line-height:200%;}
.udl{ text-decoration:underline;}
.tdn{ text-decoration:none;}
.tdl{ text-decoration:line-through;}
.wB100{ width:100%;}
.pointer{ cursor:pointer;}
.nowrap{white-space:nowrap;}
.t50{ top:50px;}

/*布局*/
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.bc{ margin-left:auto;margin-right:auto;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.cb{ clear:both;}
.cl{ clear:left;}
.cr{ clear:right;}
.clearfix:after{clear:both;content:"";display:block;height:0;visibility:hidden;}
.clearfix{zoom:1;}
.vm{ vertical-align:middle;}
.vb{ vertical-align:bottom;}
.vt{ vertical-align:top;}
.pr{ position:relative;}
.pa{ position:absolute;}
.zoom{ zoom:1;}
.hidden{ visibility:hidden;}
.block{ display:block;}
.inline{ display:inline;}
.in_b {display:inline-block;}
.in_b{ *display:inline;}
.none{ display:none;}
.oh{ overflow:hidden;}
.ov{ overflow:visible;}
.r0{ right:0px;}


/*边距*/
.m5{ margin:5px;}
.m8{ margin:8px;}
.m10{ margin:10px;}
.m12{ margin:12px;}
.m15{ margin:15px;}
.m20{ margin:20px;}
.m25{ margin:25px;}
.m30{ margin:30px;}

.mt2{ margin-top:2px;}
.mt4{ margin-top:4px;}
.mt5{ margin-top:5px;}
.mt8{ margin-top:8px;}
.mt10{ margin-top:10px;}
.mt12{ margin-top:12px;}
.mt14{ margin-top:14px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt22{ margin-top:22px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt35{ margin-top:35px;}
.mt45{ margin-top:45px;}
.mt50{ margin-top:50px;}
.mt60{ margin-top:60px;}
.mt70{ margin-top:70px;}
.mt75{ margin-top:75px;}
.mt85{ margin-top:85px;}

.mr3{ margin-right:3px;}
.mr5{ margin-right:5px;}
.mr7{ margin-right:7px;}
.mr8{ margin-right:8px;}
.mr9{ margin-right:9px;}
.mr10{ margin-right:10px;}
.mr11{ margin-right:11px;}
.mr12{ margin-right:12px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr21{ margin-right:21px;}
.mr24{ margin-right:24px;}
.mr25{ margin-right:25px;}
.mr30{ margin-right:30px;}
.mr33{ margin-right:33px;}
.mr35{ margin-right:35px;}
.mr37{ margin-right:37px;}
.mr50{ margin-right:50px;}
.mr70{ margin-right:70px;}
.mr85{ margin-right:85px;}
.mr225{ margin-right:225px;}

.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb8{ margin-bottom:8px;}
.mb10{ margin-bottom:10px;}
.mb12{ margin-bottom:12px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb25{ margin-bottom:25px;}
.mb30{ margin-bottom:30px;}
.mb40{ margin-bottom:40px;}
.mb140{ margin-bottom:140px;}

.ml2{ margin-left:2px;}
.ml4{ margin-left:4px;}
.ml5{ margin-left:5px;}
.ml6{ margin-left:6px;}
.ml7{ margin-left:7px;}
.ml8{ margin-left:8px;}
.ml10{ margin-left:11px;}
.ml11{ margin-left:10px;}
.ml12{ margin-left:12px;}
.ml15{ margin-left:15px;}
.ml16{ margin-left:16px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.ml28{ margin-left:28px;}
.ml30{ margin-left:30px;}
.ml40{ margin-left:40px;}
.ml65{ margin-left:65px;}
.ml70{ margin-left:70px;}
.ml35{ margin-left:35px;}
.ml62{ margin-left:62px;}
.ml85{ margin-left:85px;}
.ml95{ margin-left:95px;}
.ml100{ margin-left:100px;}
.ml135{ margin-left:135px;}
.ml140{ margin-left:140px;}
.ml195{ margin-left:195px;}
.ml198{ margin-left:198px;}
.ml300{ margin-left:300px;}


/*补白*/
.p5{ padding:5px;}
.p8{ padding:8px;}
.p10{ padding:10px;}
.p12{ padding:12px;}
.p15{ padding:15px;}
.p20{ padding:20px;}
.p25{ padding:25px;}
.p30{ padding:30px;}

.pt5{ padding-top:5px;}
.pt8{ padding-top:8px;}
.pt10{ padding-top:10px;}
.pt12{ padding-top:12px;}
.pt15{ padding-top:15px;}
.pt20{ padding-top:20px;}
.pt25{ padding-top:25px;}
.pt30{ padding-top:30px;}
.pt50{ padding-top:50px;}
.pt90{ padding-top:90px;}

.pr5{ padding-right:5px;}
.pr8{ padding-right:8px;}
.pr10{ padding-right:10px;}
.pr12{ padding-right:12px;}
.pr15{ padding-right:15px;}
.pr20{ padding-right:20px;}
.pr25{ padding-right:25px;}
.pr30{ padding-right:30px;}

.pb2{ padding-bottom:2px;}
.pb5{ padding-bottom:5px;}
.pb8{ padding-bottom:8px;}
.pb10{ padding-bottom:10px;}
.pb12{ padding-bottom:12px;}
.pb15{ padding-bottom:15px;}
.pb20{ padding-bottom:20px;}
.pb25{ padding-bottom:25px;}
.pb30{ padding-bottom:30px;}
.pb40{ padding-bottom:40px;}
.pb50{ padding-bottom:50px;}
.pb80{ padding-bottom:80px;}

.pl5{ padding-left:5px;}
.pl8{ padding-left:8px;}
.pl10{ padding-left:10px;}
.pl12{ padding-left:12px;}
.pl15{ padding-left:15px;}
.pl20{ padding-left:20px;}
.pl25{ padding-left:25px;}
.pl30{ padding-left:30px;}
.pl35{ padding-left:35px;}

.line-through{ text-decoration:line-through;}
.under{ text-decoration:underline;}